@CHARSET "ISO-8859-1";

table#main{
	border: solid;
	border-color: #12a806;
	border-radius: 15px;
	margin-left: auto;
  	margin-right: auto;
}

table#tips{
	border: solid;
	border-color: #a81206;
	border-radius: 15px;
	margin-left: auto;
  	margin-right: auto;
  	
}

table#result{
	border: solid;
	border-color: #12a806;
	border-radius: 15px;
	margin-left: auto;
  	margin-right: auto;
  	
}

td.main{
	padding-bottom: 16px;


}

tr#searchfield{
	border: solid;
}

td#guide{
	color: green;
	font-size: 30pt;
	font-weight: bold;
	padding: 16px 32px;
	text-align: center;
	
}

td#message{
	color: gray;
	padding-bottom: 16px;
	align: center;

}

input[type="submit"] {
	color: white;
	background-color: #12a806;
	border: none;
	border-radius: 3px;
	padding: 5px 5px;
	right: auto;
}


.hidden{
	display: none;
}